* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --c-bg: #ece7e1;
  --c-txt: #1a1818;
}

@font-face {
  font-family: "Grand-Slang";
  src: url("/assets/font/GrandSlang-Roman.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/font/Montserrat-VariableFont_wght.ttf");
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
}

body {
  background-color: var(--c-bg);
  color: var(--c-txt);
}

.main-section {
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
  padding-right: 6rem;
  justify-content: space-between;
  gap: 1rem;
  margin-left: 3%;
}
@media only screen and (max-width: 768px) {
  .main-section {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-section {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

p {
  font-family: "Montserrat";
}

.enterView {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  will-change: opacity;
  background-color: var(--c-bg);
  color: var(--c-txt);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 400px;
}
@media only screen and (max-width: 768px) {
  .enterView {
    gap: 80px;
    font-size: 16px;
    flex-direction: column;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .enterView {
    gap: 200px;
    font-size: 22px;
    flex-direction: column;
  }
}
.enterView-image {
  display: block;
  margin: 0 auto;
  max-width: 25%;
  max-height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.enterView-text {
  font-family: "Montserrat";
  opacity: 0;
}
.enterView-text__1 {
  font-weight: 400;
  letter-spacing: 3px;
}
.enterView-text__2 {
  padding-right: 90px;
  font-weight: 200;
  letter-spacing: 2px;
}
@media only screen and (max-width: 768px) {
  .enterView-text__2 {
    padding-right: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .enterView-text__2 {
    padding-right: 0;
  }
}

.mask {
  display: block;
  pointer-events: none;
}
.mask-top {
  position: fixed;
  top: 0;
  background-color: var(--c-bg);
  height: 5%;
  width: 100%;
  transition-property: background-color;
  transition-duration: 0.9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  opacity: 0.8;
  border-bottom: 1px solid var(--c-txt);
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .mask-top {
    border-bottom: 0px;
    height: 8%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .mask-top {
    border-bottom: 0px;
  }
}
.mask-bottom {
  position: fixed;
  bottom: 0;
  background-color: var(--c-bg);
  height: 5%;
  width: 100%;
  transition-property: background-color;
  transition-duration: 0.9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  opacity: 0.8;
  border-top: 1px solid var(--c-txt);
  z-index: 1;
}

.header {
  z-index: 1;
  display: flex;
  position: fixed;
  flex-direction: column;
  max-height: 100vh;
  width: auto;
  padding-top: 15.5rem;
  padding-bottom: 6rem;
}
@media only screen and (max-width: 768px) {
  .header {
    padding-top: 15%;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding-top: 8rem;
    padding-bottom: 0;
  }
}
.header-heading {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 2.2em;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}
.header-heading + p {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .header-heading + p {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .header-heading {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header-heading {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
  }
}
.header-text {
  font-size: 13px;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 768px) {
  .header-text {
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header-text {
    font-size: 13px;
  }
}

.social-links {
  z-index: 2;
  display: flex;
  height: 100vh;
  width: 6%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 20px;
  position: fixed;
}
@media only screen and (max-width: 768px) {
  .social-links {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 100vw;
    padding-top: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .social-links {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100vw;
    padding-top: 0;
  }
}
.social-icon {
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  .social-icon {
    margin-bottom: 0;
    margin-left: 12px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .social-icon {
    margin-bottom: 0;
    margin-left: 30px;
  }
}
.social-icon__copyright {
  display: flex;
  justify-content: flex-end;
  width: 110px;
  position: absolute;
  top: auto;
  bottom: 15vh;
  display: flex;
  gap: 20px;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .social-icon__copyright {
    display: flex;
    position: relative;
    transform: none;
    bottom: 0;
    left: 0;
    gap: 15px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .social-icon__copyright {
    display: flex;
    position: relative;
    transform: none;
    bottom: 0;
    gap: 15px;
  }
}
.social-icon:hover {
  opacity: 0.35;
}
.social-line {
  width: 1px;
  height: 55%;
  background-color: var(--c-txt);
  margin-top: 10px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  .social-line {
    width: 40%;
    height: 1px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .social-line {
    width: 40%;
    height: 1px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.theme {
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  left: 2.7%;
  bottom: 6%;
}
.theme-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.theme__light {
  height: 10px;
  width: 10px;
  background-color: #ece7e1;
  border: 1px solid #1a1818;
  cursor: pointer;
}
.theme__dark {
  height: 10px;
  width: 10px;
  background-color: #1a1818;
  border: 1px solid #ece7e1;
  cursor: pointer;
}
.theme-text {
  font-size: 12px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .theme-text {
    font-size: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .theme {
    flex-direction: column;
    gap: 5px;
  }
}

.copyright {
  font-size: 10px;
  letter-spacing: 4px;
  text-align: center;
}

.nav-links {
  display: flex;
}
.nav-links-list {
  display: flex;
  flex-direction: column;
}
.nav-links-list-item {
  font-size: 13px;
  letter-spacing: 1px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  opacity: 0.8;
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .nav-links-list-item {
    margin-top: 10px;
    font-size: 11px;
  }
}
@media only screen and (min-width: 1025px) {
  .nav-links-list-item:hover {
    opacity: 0.9;
    text-decoration: line-through;
  }
  .nav-links-list-item:hover span {
    width: 2rem;
    opacity: 1;
  }
}
.nav-line {
  display: block;
  width: 1rem;
  background-color: var(--c-txt);
  height: 1px;
  margin-top: 3px;
  opacity: 0.6;
}
.nav-indicator {
  pointer-events: none;
  opacity: 1;
}
.nav-indicator span {
  width: 2rem;
  opacity: 1;
}

.content {
  text-align: right;
  max-height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}
.content::-webkit-scrollbar {
  display: none;
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  animation: fadeIn 0.8s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}
.about-text {
  font-size: 13px;
  width: 12rem;
  letter-spacing: 2px;
  line-height: 20px;
}
@media only screen and (max-width: 768px) {
  .about-text {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    width: 10rem;
    margin-bottom: 30%;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    align-items: flex-end;
  }
}

.projects {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 768px) {
  .projects {
    padding-bottom: 0px;
    padding-top: 100px;
  }
}
.projects-container {
  display: none;
  flex-direction: column;
  justify-content: right;
  width: 60%;
  height: auto;
  border: 1px solid var(--c-txt);
  padding: 1rem;
  animation: fadeIn 0.8s ease-in;
}
@media only screen and (max-width: 768px) {
  .projects-container {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .projects-container {
    width: 100%;
    height: auto;
  }
}
.projects-image {
  height: 80%;
}
.projects-text {
  margin-top: 2%;
  padding-left: 20%;
  width: 100%;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .projects-text {
    font-size: 11px;
    padding-left: 0;
  }
}
.projects-title {
  font-family: "Grand-Slang";
  font-weight: 100;
  font-size: 90px;
  letter-spacing: -1px;
  padding-right: 10px;
  color: var(--c-txt);
  font-style: italic;
}
@media only screen and (max-width: 768px) {
  .projects-title {
    font-size: 42px;
    padding-top: 50px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .projects-title {
    font-size: 78px;
    padding-top: 50px;
  }
}
.projects-section {
  margin-top: 50px;
}
@media only screen and (max-width: 768px) {
  .projects-section {
    margin-top: 50px;
  }
}
.projects-heading {
  font-family: "Montserrat";
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 24px;
  cursor: default;
}
@media only screen and (max-width: 768px) {
  .projects-heading {
    font-size: 16px;
  }
}
.projects-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 15px;
}
@media only screen and (max-width: 768px) {
  .projects-list {
    margin-top: 30px;
  }
}
.projects-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: baseline;
  column-gap: 30px;
}
@media only screen and (max-width: 768px) {
  .projects-item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.projects-item:hover {
  cursor: pointer;
  opacity: 0.4;
}
.projects-item-title {
  font-family: "Grand-Slang";
  text-align: right;
  font-size: 44px;
  font-weight: 100;
  letter-spacing: 2px;
  padding-right: 8px;
}
@media only screen and (max-width: 768px) {
  .projects-item-title {
    font-size: 24px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .projects-item-title {
    font-size: 40px;
  }
}
.projects-item-title:hover {
  font-style: italic;
}
.projects-item-info {
  font-family: "Montserrat";
  font-size: 13px;
}
@media only screen and (max-width: 768px) {
  .projects-item-info {
    margin-top: 5px;
    font-size: 10px;
  }
}

.experience {
  padding-top: 100px;
  padding-bottom: 150px;
}
@media only screen and (max-width: 768px) {
  .experience {
    padding-bottom: 0;
    padding-top: 100px;
  }
}
.experience-title {
  font-family: "Grand-Slang";
  font-weight: 100;
  font-size: 90px;
  letter-spacing: -1px;
  padding-right: 10px;
  color: var(--c-txt);
  font-style: italic;
}
@media only screen and (max-width: 768px) {
  .experience-title {
    font-size: 42px;
    padding-top: 50px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .experience-title {
    font-size: 78px;
    padding-top: 50px;
  }
}
.experience-section {
  margin-top: 50px;
}
@media only screen and (max-width: 768px) {
  .experience-section {
    margin-top: 50px;
  }
}
.experience-list {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 15px;
}
@media only screen and (max-width: 768px) {
  .experience-list {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
.experience-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: baseline;
  column-gap: 30px;
  pointer-events: none;
}
@media only screen and (max-width: 768px) {
  .experience-item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .experience-item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.experience-item-title {
  font-family: "Grand-Slang";
  text-align: right;
  font-size: 44px;
  font-weight: 100;
  letter-spacing: 2px;
  padding-right: 8px;
}
@media only screen and (max-width: 768px) {
  .experience-item-title {
    font-size: 24px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .experience-item-title {
    padding-right: 0px;
    font-size: 40px;
  }
}
.experience-item-info {
  font-family: "Montserrat";
  font-size: 13px;
}
@media only screen and (max-width: 768px) {
  .experience-item-info {
    margin-top: 5px;
    font-size: 10px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .experience-item-info {
    margin-top: 10px;
  }
}
.experience-heading {
  font-family: "Montserrat";
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 24px;
  cursor: default;
}
@media only screen and (max-width: 768px) {
  .experience-heading {
    font-size: 16px;
  }
}
.experience-images {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .experience-images {
    width: 100%;
    gap: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
.experience-container {
  display: inline-block;
  position: relative;
  text-align: center;
  width: auto;
}
@media only screen and (max-width: 768px) {
  .experience-container {
    width: 25%;
    margin-bottom: 30px;
  }
}
.experience-container-image {
  height: 4em;
  width: 4em;
}
@media only screen and (max-width: 768px) {
  .experience-container-image {
    height: 3em;
    width: 3em;
  }
}
.experience-container-image:hover {
  opacity: 0.75;
  cursor: pointer;
}
.experience-container-info {
  position: absolute;
  display: none;
  font-family: "Montserrat";
  margin-top: 5px;
  bottom: -22px;
  width: auto;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease;
  opacity: 0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .experience-container-info {
    font-size: 11px;
    margin-top: 3px;
  }
}

.contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25vh;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .contact {
    gap: 10vh;
    padding-top: 25%;
  }
}
.contact-title {
  font-family: "Grand-Slang";
  font-weight: 100;
  font-size: 90px;
  letter-spacing: -1px;
  padding-right: 10px;
  color: var(--c-txt);
  font-style: italic;
}
@media only screen and (max-width: 768px) {
  .contact-title {
    font-size: 42px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contact-title {
    font-size: 78px;
    padding-top: 50px;
  }
}
.contact-content {
  font-family: "Montserrat";
  font-size: 13px;
}
@media only screen and (max-width: 768px) {
  .contact-content {
    font-size: 11px;
  }
}
.contact-content ul li a:hover {
  opacity: 0.5;
}
.contact-item-2 {
  padding-top: 50px;
}
@media only screen and (max-width: 768px) {
  .contact-item-2 {
    padding-top: 0;
  }
}
.contact-link {
  padding-top: 20px;
}

.fadingEffect {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 110%;
  width: 100%;
  background: var(--c-bg);
  animation: showHide 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.fadingEffect-bottom {
  top: -2px;
}

/* ANIMATIONS */
@keyframes showHide {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
